/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #1c1c1c;
}

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 650px;
  height: 600px;
  padding: 3em;
  border-radius: 0.5em;
  background-color: #1f2937;
}

.card-heading {
  width: 100%;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 40px;
}

.card-heading-accent {
  display: block;
  color: #34d399;
  padding-bottom: 0.6em;
  font-size: 2.5rem;
  font-weight: 800;
}

.card-heading-supporting-text {
  color: #d5d4d8;
  padding-bottom: 2em;
  line-height: 28px;
}

.line {
  border: 1px solid #2f3e53;
  margin: 2em 0;
}

.top-line {
  display: none;
}

.form-field {
  display: flex;
  width: 100%;
  margin-bottom: 1.25em;
}

.form input {
  width: 10em;
  height: 3.25em;
  padding: 0.75em;
  font-weight: 700;
  font-size: 1.1rem;
  text-align: center;
  border: none;
  border-radius: 0.5em;
  color: #10b981;
  background-color: #fff;
  outline: #fff;
  cursor: text;
}

.form input:focus::placeholder {
  color: transparent;
}

::placeholder {
  color: #10b981;
}

/* 
  Hide the spin-button inside input - Chrome, Safari, Edge, Opera.
  NOTE: This feature is non-standard and should not be used without careful consideration.
  https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-inner-spin-button
*/
.form input[type='number']::-webkit-inner-spin-button {
  display: none;
}

/* Hide the spin-button inside input - Firefox */
.form input[type='number'] {
  -moz-appearance: textfield;
}

.chevron-down {
  display: none;
}

.instructions-text {
  font-size: 1.1rem;
  color: #fff;
  margin: auto 1em;
}

.three-arrows {
  margin-right: .25em;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1.25em;
}

.generate-pwrd-button,
.clear-all-fields-button {
  flex: 1;
  height: 3.25em;
  padding: 0.75em;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 24px;
  border: none;
  border-radius: 0.5em;
  color: #fff;
  background-color: #10b981;
  cursor: pointer;
}

.generate-pwrd-button:hover,
.clear-all-fields-button:hover {
  color: #000;
  font-weight: 500;
}

.button-group-icon {
  font-size: 1rem;
  margin-right: 0.25em;
}

.password-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.25em;
}

.password-boxes > * {
  flex-basis: 48%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.25em;
  padding: 0.75em; 
  font-size: 1.1rem;
  border-radius: 0.5em;
  color: #5def92;
  background-color: #273549;
  cursor: pointer;
}

.box:hover {
  color: #fff;
}

.three-dots-icon {
  color: #3F516B;
  font-size: 1.5rem;
}

.notification-text {
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  padding: 0.75em;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 0.5em;
  color: #273549;
  background-color: #d5d4d8;
}

.notification-text.copied {
  animation: copied 1s ease-in-out;
  visibility: visible;
}

@keyframes copied {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* MEDIA QUERIES */
@media screen and (max-width: 604.98px) {
  .main-container {
    height: auto;
  }

  .card-container {
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 2em 1em;
    border-radius: 0;
  }

  .card-heading-supporting-text {
    padding-bottom: 0;
  }
  
  .line {
    width: 85%;
  }
  
  .top-line {
    display: block;
  }

  .three-arrows {
    display: none;
  }

  .instructions-text {
    margin: auto .5em;
  }

  .chevron-down {
    display: block;
    color: #fff;
  }
  
  .form-field {
    flex-direction: column-reverse;
    gap: 1em;
  }

  .button-group,
  .password-boxes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25em;
  }

  .generate-pwrd-button,
  .clear-all-fields-button,
  .box {
    width: 15em;
    }

  .box {
    border: none;
  }

  .notification-text {
    bottom: 30%;
  }
}